{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <small class="d-block text-right mt-3">
        <a href="{{ path('message_add') }}">Add new</a>
    </small>
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent messages</h6>
    {% for message in messages %}
        <a href="{{ path('message', {'id': message.id}) }}">
            {{ include('guest-book/raw-message.html.twig', {'message': message}) }}
        </a>
         <small class="d-block text-right mt-3">
            <a href="{{ path('message_edit', {'id': message.id}) }}">Edit</a>
            <a href="{{ path('message_delete', {'id': message.id}) }}">Delete</a>
         </small>
    {% endfor %}
{% endblock %}