<div class="card">
  <div class="card-header">
    {{message.time|ago}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0 message-text">
      <p>{{message.text}}</p>
      <footer class="blockquote-footer">{{ message.user.username }} has posted {{ message.user.messages|length }} messages, last seen {{ message.user.lastVisit|ago }}</footer>
    </blockquote>
  </div>
</div>